[alias]
  s = status -s
  d = difftool
[user]
  name = name
  email = email
[push]
  default = simple
[diff]
  tool = nvim
[difftool "nvim"]
  cmd = "nvim -d" "$LOCAL" "$REMOTE"
[difftool]
  prompt = false
